<nav class="navbar navbar-expand-lg navbar-dark" style="background: #945c04">
  <div class="container-fluid d-flex align-items-start" style="z-index: 999999">

      <a class="navbar-brand" href="#">Supremos</a>

      <div class="collapse navbar-collapse menu-bar menu" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="selected"
              >Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/elenco"
              routerLinkActive="selected"
            >
              Elenco
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/personagens"
              routerLinkActive="selected"
            >
              Personagem
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/personagens"
              routerLinkActive="selected"
            >
              Personagem
            </a>
          </li>
        </ul>
      </div>
    </div>

</nav>
