<app-menu></app-menu>

<h1>Goleiros</h1>
<div class="d-flex justify-content-center">
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 10rem">
    <img
      class="card-img-top"
      src="../../../assets/img/aracaju.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<h1>Zagueiros</h1>

<div class="d-flex justify-content-center">
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 10rem">
    <img
      class="card-img-top"
      src="../../../assets/img/aracaju.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<h1>Ala</h1>

<div class="d-flex justify-content-center">
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 10rem">
    <img
      class="card-img-top"
      src="../../../assets/img/aracaju.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<h1>Pivó</h1>
<div class="d-flex justify-content-center">
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 10rem">
    <img
      class="card-img-top"
      src="../../../assets/img/aracaju.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
